<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card ion-item *ngFor="let item of items" (click)="itemSelected(item)">
            <!-- <img src="img/nin-live.png"/> -->
            <ion-card-content>
              <!-- This could be from another table containing oinfo on the different db tables that the system support -->
              <ion-card-title>
                  {{item.text}}
                </ion-card-title>
              <p>
                The most popular industrial group ever, and largely
                responsible for bringing the music to a mass audience.
              </p>
            </ion-card-content>
          </ion-card>


        <!-- <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
          {{ item.text }}
        </button>   -->
      </ion-list>
</ion-content>
